header {
    display: flex;
    justify-content: center; 
    background-color: gray;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
}

button {
    width: 100px;
    border-radius: 10px;
}
